#first-section{
    width: 100%;
    height:420px;
    background-image: url('../image/one.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 10px 13px 0 rgba(0,0,0,0.2);
    
 }
.card-body{
    padding:5px;
}
.card{
    
     margin-top: -30px;     
     width:90%;
     height: 500px;
}
 body{
    background: #d3d9d1;
    font-family:serif;
}
#header{
    background-color:#000000;
    height:150px;
}

#input{
  
    margin-bottom: -20px;
}
#navicon{
    display: none;
}
#search{
    margin-top: 0px;
    margin-left:10px;
}
#navlist a{
    display: inline;
 }
#navicon{
    display: none;
 } 

#navbaricon{
    display: none;
}
i{
    padding-left: 10px;
}
@media (max-width:989px) {
#logo1{
 display: none;
}
#name{
    text-align: center;
    font-weight: bold;
    font-size:40px;
    margin-bottom: 15px;
}
#first-section{
    margin-bottom:0px;
    background-size: 100%;
    background-image: url('../image/one.jpg');
}

#second-section img{
    width: 120;
}
nav{
    direction: rtl;
} 
#logo2{
    display: none;
}
#navicon{
     display: block;
} 
#brand{  
    display: none;
  }
#navbaricon{
    display: block;
  
}
#search{
    margin-top: 0px;
    margin-left:5px;
}
#navbaricon i{
   padding-left:14px;
}
#header{
   
    height:200px;
}
}
@media (max-width:765px) {
    #first-section{
        box-shadow:none;
        height: 230px;
    }
    #header{
        background-color:#000000;
        height:230px;
    }
    .card{
        background-color: #d3d9d1;
        border: 0px;
        width:90%;
        height: 500px;
        margin-top: 0px;
   }
   img{
       width:96%;
       height: 170px;
   }
 
}
