#first-section{
    width: 100%;
    height:420px;
    background-image: url('../image/spiderman.PNG');
    background-repeat: no-repeat;
    background-size: 100%;
    box-shadow: 0 10px 13px 0 rgba(0,0,0,0.2);
    
 }
 .price{
  margin-left: -18px;
  }

.fa{
    font-size: 10px;
    padding-left: 0px;
}

#star{
    margin-left: -52%;
}
.card-body{
    padding:5px;
}
#firstList li{
    display: inline-block;
    padding-left: 20px;
    padding-top: 50px;   
}
#firstList{
    width: 100%;
    margin-left:1%;
}
a{
    text-decoration: none;
  
}
.card{
     border: 0px;  
     background-color: #d3d9d1;
     margin-top: -30px;     
     width:90%;
     height:350px;
}
#firstText{
    padding-top: 5%;
    padding-left:8%;
}

 body{
    background: #d3d9d1;
    font-family:serif;
    height: 1500px;
}
#header{
    background-color:#000000;
    height:150px;
}

#input{
  
    margin-bottom: -20px;
}
#navicon{
    display: none;
}
#navicon i{
    padding-left: 10px;
}
#search{
    margin-top: 0px;
    margin-left:10px;
}
#navlist a{
    display: inline;
 }
#navicon{
    display: none;
 } 

#navbaricon{
    display: none;
}
i{
    padding-left: 10px;
}
@media (min-width:1263px){
   .card{
       width: 93%;
   }
   
   #third-section{
       width: 98%;
   }
 
}
@media (max-width:989px) {
#star{
    display: none;
}
#logo1{
 display: none;
}
#name{
    text-align: center;
    font-weight: bold;
    font-size:40px;
    margin-bottom: 15px;
}
#first-section{
    margin-bottom:0px;
    background-size: 100%;
    background-image: url('../image/one.jpg');
}

#second-section img{
    width: 120;
}
img{
    padding-top: 10px;
}
#third-section img{
    height: 200px;
    padding-top: 0px;
    padding-bottom: 34px;
}

nav{
    direction: rtl;
} 
#logo2{
    display: none;
}
#navicon{
     display: block;
} 
#brand{  
    display: none;
  }
#navbaricon{
    display: block;
  
}
#search{
    margin-top: 0px;
    margin-left:5px;
}
#navbaricon i{
   padding-left:14px;
}
#header{
   
    height:230px;
}

}
@media (max-width:765px) {
    /* Hide scrollbar for Chrome, Safari and Opera */
    #third-section::-webkit-scrollbar {
        display: none;
      }
  
      /* Hide scrollbar for IE, Edge and Firefox */
     #third-section {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
      }
    #name{
        margin-top: -10px;
    }
    #input{
        margin-top:-15px;
        margin-left: -10px;
    }
    #navicon{
        margin-top: -15px;
        margin-left: -10px;
    }
    #search{
        margin-top:-15px;
        margin-left: 10px;
        margin-right: -10px;
    }
    #first-section{
        box-shadow:none;
        height: 140px;
    }
    #third-section{
    
        text-align: left;
        width: 92%;
        overflow: auto;
        height: 200px;
        white-space: nowrap;
    }
    #third-section>.row{
         margin-top: -30px;
         width: 40%;
    }
     #third-section div{
       display: inline-block;
      
     } 
    #header{
        background-color:#000000;
        height:190px;
    }
    .card{
        background-color: #d3d9d1;
        border: 0px;
        width:90%;
        height: 500px;
        margin-top: 0px;
   }
   img{
       width:96%;
      
       height: 160px;
   }
   #third-section img{
        width: 90%;
        height: 270px;
   }
   
   #firstList li{
    display: inline-block;
    padding-top:20px;
    font-size: 11px;
    padding-left:4px;
   
   }


  #firstText{
    padding-top: 3%;
    padding-left:8%;
}
#first-section p{
    margin-top:-8px;
}
#first-section button{
    margin-top: -20px;
    font-size:5px;
}
#first-section h5{
     font-size: 10px;
}
#first-section h2{
    font-size: 15px;
}
}
